<!DOCTYPE html>
<html ng-app="teorema">
<head >
    <meta charset="utf-8" />
    <title>Teorema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="css/jk-carousel.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="lib/angularjs/angular.min.js"></script>
    <script src="lib/angularjs/angular-animate.min.js"></script>
    <script src="lib/angularjs/angular-aria.min.js"></script>
    <script src="lib/angularjs/angular-message.min.js"></script>
    <script src="lib/angularjs/angular-route.js"></script>
    <!-- Angular Material Library -->
    <script src="lib/angularjs/angular-material.min.js"></script>
    <script src="lib/angularjs/jk-carousel.min.js"></script>
    <!-- Javascript do site -->
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/value/config.js"></script>
</head>
<body ng-controller="tCtrl" ng-cloak >
    
    <md-toolbar class="fixed-bar">
        <div class="md-toolbar-tools">
            <md-button class="hide-gt-md md-icon-button" ng-click="toggleLeft()">
                <md-icon md-font-set="md">menu</md-icon>
            </md-button>
            <span class="hide-gt-md" flex></span>
            <img src="imgs/LogoHorizontal.png" style="margin:0.1em;max-height:40px;max-width:100%;height:auto"/>
            
            
                <span flex></span>
            <div class="hide-xs hide-sm hide-md">
                
                <md-button ng-click="link('/agencia-de-propaganda')">Agência de Propaganda</md-button>
                <md-button ng-click="link('/gestao-de-redes-sociais')">Gestão de redes sociais</md-button>
                <md-button ng-click="link('/desenvolvimento-digital')">DESENVOLVIMENTO DIGITAL</md-button>
                <md-button ng-click="link('/pesquisa-mercadologica')">Pesquisa mercadológica</md-button>
                <md-button ng-click="link('/contato')">Contato</md-button>
            </div>
            
        </div>
    </md-toolbar>
    <md-sidenav md-component-id="left" class="md-sidenav-left">
        <md-toolbar layout="row" class="md-hue-1">
            <div class="md-toolbar-tools">
                <span>Dense</span>
            </div>
        </md-toolbar>
                
        <md-content layout-margin>
            <md-list>
                <md-list-item>
                    <md-button ng-click="link('/agencia-de-propaganda')">Agência de Propaganda</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="link('/gestao-de-redes-sociais')">Gestão de redes sociais</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="link('/desenvolvimento-digital')">DESENVOLVIMENTO DIGITAL</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="link('/pesquisa-mercadologica')">Pesquisa mercadológica</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="link('/contato')">Contato</md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    
      
    
    <md-content style="min-height:1900px;">
        <div layout="row">
                <div md-colors="::{background: 'primary-600'}" flex-offset-gt-sm="10" flex-offset="5" flex-gt-sm="80" flex="90" class="shadow">
                    <div ng-view  style="margin-top:70px; padding:1em;font-size:16px"></div>
                </div>
        </div>
    </md-content>
    <!-- Corpo do site 
    <div ng-view></div>
    <section class="white">
        <div class="row">
            
            <div class="col s12 m4 offset-m4 center">
                <h4>Assine nossa newsletter</h4>
                <form>
                    <div class="input-field col s12">
                        <input type="email" placeholder="Digite seu E-mail"/>
                    </div>
                    <div class="col s12 center">
                        <button type="button" class="btn waves-effect waves-light red lighten-2">
                            Assine
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div style="margin:0 auto; width: 90%">
            <div class="row">
                <div class="col s12 m6 l4 offset-l1  red lighten-2 white-text z-depth-2" style="border-radius:8px;padding: 35px">
                    <a name="contato"></a>
                    <h5>E-mails:</h5>
                    <p>
                        ariana@teoremapropaganda.com.br
                        <br> contato@teoremapropaganda.com.br
                        <br> Telefone: 47 3237-2486
                        <br> Whats: 47 99146800
            
                    </p>
                </div>
                <div class="col s12 m6 l4 offset-l2  red lighten-2 white-text z-depth-2" style="border-radius:8px;padding: 35px">
                    <h5>Endereço:</h5>
                    <p>
                        <br> Rua Mauá, 233 - Centro - Pomerode e
                        <br> Rua Paraguai, 289 Ponta Aguda - Blumenau
                    </p>
                </div>
            </div>
        </div>
        
    </section>
    <section class="red lighten-2" style="bottom: 0px">
        <div class="row  white-text">
            <div class="col s12 ">
                <p style="text-align: center">Todos os direitos reservados a FORTSWEB Copyright &#169; 2018.</p>
            </div>
        </div>
    </section>
    -->
    
</body>
</html>