.fixed-bar{
    position: fixed;
    top: 0;
    z-index: 59;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.32);
}
#listp {
    font-size: 1.1em;
}
#listp li {
    margin-top: 10px;
}
.responsive-img{
    max-width: 100%;
    width: auto;
}
.shadow{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.32);
}
.justify{
    text-align: justify;
}