<section id="sec1" class="bg-image">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>O que somos?</h4>
                    <p>
                            Somos uma agência de marketing e propaganda. Dedicamos nossa experiência e 
                            constante atualização para conectar sua empresa ao seu público. Somos 
                            especialistas em tornar sua empresa atrativa nos meios online e offline 
                            fazendo uso de:

                    </p>
                    <ul id="oqs">
                        <li>Mídias digitais</li>    
                        <li>Mídias off-line</li>    
                        <li>Dados de pesquisas mercadológicas</li>    
                        <li>Campanhas de publicidade</li>   
                            
                    </ul>
                </div>
            </div>
        </div>
</section>
<section id="sec2" class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>O que fazemos?</h4>
                <p>Muito mais que marketing e propaganda. Resultados são o nosso combustível.</p>
                <p>Estudos de mercado fundamentam nossos trabalhos, definindo os caminhos corretos para levar sua marca ao topo.</p>
                <p>Enquanto você dedica tempo e esforços ao seu negócio, nós cuidamos da comunicação e da imagem da sua marca.</p>
                <p>Gerenciar a comunicação é impulsionar negócios!</p>
                <p>Temos a solução para o seu e-commerce, criando e gerenciando uma estratégia rentável.</p>
                <p>Temos a solução também para seu negócio que não usa a internet para vender, mas pode aproveitar para fazer
                    uma bela vitrine.</p>
                <p>Conte com nossos serviços para bem posicionar seus produtos e serviços no mercado.</p>

            </div>
        </div>
    </div>
</section>