<section id="sec1" class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <h4>Pesquisa mercadológica</h4>
                <h5>Pesquisa de cliente oculto</h5>
                <p>
                    Já pensou em conferir se todo o trabalho desenvolvido pela empresa está correndo dentro do planejado? Nem sempre é tão simples
                    controlar todos os processos que envolvem seu negócio. Por isso, o cliente oculto avalia sua empresa
                    do ponto de vista do consumidor final, permitindo que seja realizada uma revisão da estratégia. Qualidade
                    do atendimento, tempo de serviço, condições das instalações, padronização de processos e campanhas de
                    marketing e vendas são alguns dos itens averiguados.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="sec2" class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <h5>Pesquisa de satisfação</h5>
                <p>
                    Descubra o quanto seu cliente gosta dos seus produtos e serviços e, de quebra, entenda o que mudar para avançar no seu negócio.
                </p>
                <p>Nossa pesquisa faz um levantamento completo com os próprios clientes, que respondem a questões como:</p>
                <ul>
                    <li>Nível de satisfação geral</li>
                    <li>Nível de satisfação com a qualidade</li>
                    <li>Nível de satisfação com os preços</li>
                    <li>Nível de satisfação com o atendimento</li>
                    <li>Probabilidade de recomendar a outros clientes</li>
                    <li>Probabilidade de voltar a comprar</li>
                    <li>Pesquisa com representantes comercial </li>
                    <li>Pesquisa com novos mercados</li>
                    <li>Dúvidas e sugestões</li>
                </ul>
                <p>As perguntas também abrangem o perfil do consumidor, procurando saber há quanto tempo é cliente da empresa
                    e por quais meios conheceu a marca e quais usa para se informar.</p>
                <p>
                    Assim, é possível identificar as melhorias mais urgentes para seu negócio e também quais mídias usar para a comunicação com
                    o público, otimizando os recursos.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="sec3" class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <h5>Pesquisa de clima organizacional</h5>
                A satisfação dos seus colaboradores tem influência direta nos resultados que sua empresa entrega aos clientes. Descubra se
                o desempenho da sua equipe pode melhorar oferecendo mudanças na estrutura ou mesmo alguns benefícios simples
                aos seus funcionários. Após ajustar o clima, eliminando qualquer resquício de tensão, seu negócio vai atrair
                mais talentos e se destacar no mercado.

            </div>
        </div>
    </div>
</section>