<div layout="row">
    <div flex="100">
        <jk-carousel data="slides.slidep1" item-template-url="'view/slide.html'" auto-slide="true" auto-slide-time="2000" class="shadow">
        </jk-carousel>
        <div>
            <p>
                Entender o mercado no qual sua marca está é o primeiro passo para o sucesso da sua empresa. A CEO da Teorema, Ariana Kitzberger
                Lenz, é mestre em Administração pela PUC-PR e tem capacidade de inovar alinhando práticas de mercado com
                sua experiência acadêmica.
            </p>
            <h4>Pesquisa de cliente oculto</h4>
            <p>Conferir se todo o trabalho desenvolvido pela empresa está correndo dentro do planejado pode ser complexo. Por
                isso, o cliente oculto avalia sua empresa do ponto de vista do consumidor final, permitindo que seja realizada
                uma revisão da estratégia. Qualidade do atendimento e condições das instalações são alguns dos itens averiguados.</p>

        </div>

    </div>
</div>
<div layout-gt-sm="row" layout-padding>
    <div flex-gt-sm="50" flex="100">

        <h4>Pesquisa de satisfação</h4>

        <p class="justify">Descubra o quanto seu cliente gosta dos seus produtos e serviços para avaliar novas estratégias para seu negócio.
            Nossa pesquisa faz um levantamento completo com os próprios clientes, que respondem a questões como:
        </p>
        <ul id="listp">
            <li>Nível de satisfação geral</li>
            <li>Nível de satisfação com a qualidade</li>
            <li>Nível de satisfação com os preços</li>
            <li>Nível de satisfação com o atendimento</li>
            <li>Probabilidade de recomendar a outros clientes</li>
            <li>Probabilidade de voltar a comprar</li>
            <li>Pesquisa com representantes comercial</li>
            <li>Pesquisa com novos mercados</li>
            <li>Dúvidas e sugestões</li>
        </ul>
        <p class="justify">As perguntas também abrangem o perfil do consumidor, procurando saber detalhes sobre seus hábitos de consumo e a
            relação com a marca. Tudo para identificar quais melhorias aplicar em seu negócio.</p>


    </div>
    <div flex-gt-sm="50" flex="100">

        <h4>Pesquisa de clima organizacional</h4>

        <p class="justify">A satisfação dos seus colaboradores impacta diretamente os resultados da empresa. Descubra se o desempenho da sua
            equipe pode melhorar fazendo mudanças simples. Após eliminar a tensão e promover ajustes, seu negócio pode atrair
            mais talentos.</p>
        <img src="imgs/pesquisa6.jpg" class="responsive-img shadow" alt="">
    </div>
</div>