<section ng-controller="uCtrl">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <form>
                    <div class="input-field col s12">
                        <input id="nome" type="text" ng-model="usuario.nome" class="validate">
                        <label for="nome">Nome</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="senha" type="password" ng-model="usuario.senha" class="validate">
                        <label for="senha">Senha</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="csenha" type="password" ng-model="usuario.csenha" class="validate">
                        <label for="csenha">Confirmar Senha</label>
                    </div>
                    <div class="col s12 center" style="padding-top: 5px">
                        <button type="button" class="btn waves-effect waves-light black">Salvar</button>
                        <button type="reset" class="btn waves-effect waves-light black" ng-click="coluna.texto=null">Limpar</button>
                    </div>
                </form>
            </div>
            <div class="col s12 m8 offset-m2" >
                <a href="#/usuarios" style="top:5px" class="right btn waves-effect waves-light indigo">Voltar</a>
            </div>
        </div>
    </div>
</section>