
<div class="ss100" style="min-height:1000px;background: #333;padding-top:30px" >
        <div class="container " >
                <div class="row">
                        <div class="col s12 m8 offset-m2 l8 offset-l2 white-text black z-depth-2" style="border-radius:8px;min-height:210px;padding: 10px;">
                                <form>
                                        <div class="col s12 input-field">
                                                <input id="login" ng-model="log.usuario" type="text" class="validate">
                                                <label for="login">Login</label>
                                        </div>
                                        <div class="col s12 input-field">
                                                <input id="senha" ng-model="log.senha" type="password" class="validate">
                                                <label for="senha">Senha</label>
                                        </div>
                                        <div class="col s12 center">
                                                <button type="button" ng-click="login()" class="btn yellow waves-effect waves-light">Entrar</button>
                                        </div>
                                </form>
                        </div>
                </div>
        </div>
</div>
        
    